<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyderabad Restaurant Recommendations</title>
</head>
<body>
  <h1>Explore Top-Rated Hyderabad Restaurants</h1>
  <p>This interactive dashboard helps you discover the best restaurants in Hyderabad based on Zomato ratings and real user reviews.</p>

  <div class='tableauPlaceholder' id='viz1721827669183' style='position: relative'>
    </div>

</body>
</html>
